body{
  margin: 0px;
  background-color: black;
  z-index: -6;
}
.head_contain{
  display: block;
  background-color: rgb(0, 0, 0);
  height: 120px;
}
.header{
  display: flex;
  position: fixed;
  height: 75px;
  width: 95%;
  border-radius: 15px;
  margin-top: 25px;
  background: rgba(132, 132, 132, 0.4);
  backdrop-filter: blur(20px);
  z-index: 120;
}
.left-head{
  display: flex;
  width: 30%;
  height: inherit;
  border-radius: inherit;
  justify-items: flex-start;
  gap: 20px;
}
.right-head{
  display: flex;
  width: 10%;
  height: inherit;
  border-radius: inherit;
  justify-content: end;
  margin-left: auto;
}
.logo-head{
  background-color: aliceblue;
  height: inherit;
  width: 40%;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  
}
.home-button{
  margin: auto;
  margin-left: inherit;
  margin-right: inherit;
  height: 50%;
  align-items: center;
  margin-top: 5%;
  background-color: white;
  border: 0;
  border-radius: 11px;
  padding: 5px 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
}
.contact-button{
  margin: auto;
  margin-left: inherit;
  margin-right: inherit;
  height: 50%;
  align-items: center;
  margin-top: 5%;
  padding: 5px 20px;
  border: 0;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 11px;
  font-weight: 500;
  font-size: 15px;
  background-color: transparent;
  transition: 0.2s;
  cursor: pointer;
  font-weight: 500p;
}
.contact-button:hover{
  background-color: white;
  color: black;
}
.mail{
  display: flex;
  justify-content: flex-start;
  margin: auto;
  margin-left: 30px;
  font-size: 30px;
  border: 0;
  color: white;
}
.mail:hover{
  color:black
}
.search{
  display: flex;
  justify-content: flex-start;
  margin: auto;
  margin-left: 10px;
  height: 27px;;
 cursor: pointer;
}
