.container{
  display: grid;
  margin: 20px 40px;
  grid-template-columns: 600px auto;
  grid-template-rows: 500px;
  grid-gap: 20px;
  z-index: -4;
}
/* Product */

.Product-img{
  margin-left: 150px;
  position: relative;
  background-color: rgb(129, 126, 126);
  border-radius: 30px;
  width: 400px; /* Set the desired width */
  height: 400px; /* Set the desired height */
  margin-top: 32px;
}
.Product-img img{
  position: absolute;
  height: 500px;
  object-fit: cover;
  top: -30px;
  left: -50px;
}
.Product-info{
  display: grid;
  grid-template-rows: 60px 250px 50px 50px;
  margin-left: -20px;
  justify-content: start;
}
.info{
  background-color: aqua;
}
/* Product information (Tittle,description and buttons)*/
.tittle{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(199, 199, 199);
  font-size: 25px;
  margin-top: -15px;
  

  
}
.tittle p{
  margin-top: -30px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10px;
  font-size: 15px;

}
.description{
  display: flex;
  color: rgb(199, 199, 199);
  margin-top: 40px;
  margin-left: 10px;
}
.description .price1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  vertical-align: middle;
}
.description .price2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-decoration: line-through;


}
.dis p{
  color: rgb(199, 199, 199);
  margin-top: -100px;
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  width: 700px;
}
.try{
  margin-left: 10px;
  width: 150px;
  margin-top: -80px;
  height: 40px;

}
.buying{
  display: grid;
  grid-template-columns: 200px 150px ;
  gap: 0px;
  margin-top: -50px;
  margin-left: 10px;
}

.try-product{
  background-color: rgb(214, 214, 214);
  color: black;
  border: 0;
  border-radius: 12px;
  align-items: center;
  padding: 10px;
  width: 150px;
  height: 40px;
  cursor: pointer;
}
.cart{
  
  width: 150px;
  height: 50px;
}
.buy{
  width: 150px;
  height: 50px;
}
.cart-product{
  background-color: rgb(214, 214, 214);
  color: black;
  border: 0;
  border-radius: 12px;
  align-items: center;
  padding: 10px;
  width: 150px;
  height: 40px;
  cursor: pointer;
}
.buy-product{
  background-color: rgb(214, 214, 214);
  color: black;
  border: 0;
  border-radius: 12px;
  align-items: center;
  padding: 10px;
  width: 150px;
  height: 40px;
  cursor: pointer;
}
.product-sample{
  
  margin: auto;
  margin-top: 50px;
  display:grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 200px;
  gap: 30px;
  justify-content: center;
}


.product_details{
  height: 720px;
  width: 1280px;
  background-color: rgb(129, 126, 126);
  display:flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  border-radius: 20px;
  margin-top: -50px;
}
.other_products{
  display: flex;
  margin-top: 50px;
  height: 300px;
  background-color: inherit;
  justify-content: space-around;
}
.product{
  position: relative;
  background-color: rgb(129, 126, 126);
  width: 300px;
  border-radius: 30px;
}
.product .name{
  position: absolute;
  bottom: -10px;
  left: 80px;
  width: 150px;
  background-color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  border-radius: 30px;
  font-weight: bold;
  z-index: 100;
  transition: 0.2s;
  
}
.sample{
  position: relative;
  height: 300px;
}
.hidden-info{
  position: absolute;
  background: rgba(14, 12, 12, 0.4);
  backdrop-filter: blur(20px);
  height: 200px;
  width: 300px;
  bottom: -200px;
  backdrop-filter: blur(20px);
  border-radius: 15px;
  opacity: 0;
  transition: 0.2s;
}
.sample:hover .hidden-info{
  bottom: -10px;
  opacity: 1;
}
.sample:hover .name{
  bottom:180px;
}
.other-price1{
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  vertical-align: middle;
  color: aliceblue;
  margin-top: 60px;
  margin-left: 30px;
}
.other-price2{
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  text-decoration: line-through;
  color: aliceblue;
}
.despo{
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -20px;
  font-size: 13px;
  padding: 5px 10px;
}
.footer{
  position: relative;
  height: 300px;
  background-color: rgb(37, 36, 36);
}
.overlaping{
  position: absolute;
  background-color: rgb(37, 36, 36);
  top: -150px;
  height: 200px;
  width:100%;
  z-index: -1;
}
video { position: absolute; top: 0; left: 0; z-index: 0; display: none; }
canvas { position: absolute; top: 0; left: 0; z-index: 1; }