.container{
  display: grid;
  margin: 20px 40px;
  grid-template-columns: 600px auto;
  grid-template-rows: 500px;
  grid-gap: 20px;
  z-index: -4;
}
/* Product */

.Product-img{
  margin-left: 150px;
  position: relative;
  background-color: rgb(129, 126, 126);;
  border-radius: 30px;
  width: 400px; /* Set the desired width */
  height: 400px; /* Set the desired height */
  margin-top: 32px;
}
.Product-img img{
  position: absolute;
  height: 500px;
  object-fit: cover;
  top: -30px;
  left: -50px;
}
.Product-info{
  display: grid;
  grid-template-rows: 60px 250px 50px 50px;
  margin: 0;
}
/* Product information (Tittle,description and buttons)*/
.tittle{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(199, 199, 199);
  font-size: 25px;
  margin-top: -15px;
  text-align: center;

  
}
.tittle p{
  margin-top: -30px;
  font-family: Arial, Helvetica, sans-serif;

}
.description{
  display: flex;
  justify-content: center;
  color: rgb(199, 199, 199);
  margin: auto;
}
.description .price1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  vertical-align: middle;
}
.description .price2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
 text-decoration: line-through;

}
.try{
  display: flex;
  justify-content: center;
  margin: auto;
}
.buying{
  display: grid;
  grid-template-columns: 200px 200px ;
  gap: 300px;
  justify-content: center;
}

.try-product{
  background-color: rgb(214, 214, 214);
  color: black;
  border: 0;
  border-radius: 12px;
  align-items: center;
  padding: 10px;
  width: 150px;
  height: 40px;
  cursor: pointer;
}
.cart{
  display: flex;
  justify-content: center;
  
}
.buy{
  display: flex;
  justify-content: center;
}
.cart-product{
  background-color: rgb(214, 214, 214);
  color: black;
  border: 0;
  border-radius: 12px;
  align-items: center;
  padding: 10px;
  width: 150px;
  height: 40px;
  cursor: pointer;
}
.buy-product{
  background-color: rgb(214, 214, 214);
  color: black;
  border: 0;
  border-radius: 12px;
  align-items: center;
  padding: 10px;
  width: 150px;
  height: 40px;
  cursor: pointer;
}
.product-sample{
  
  margin: auto;
  margin-top: 50px;
  display:grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 200px;
  gap: 30px;
  justify-content: center;
}

.sample{
  background-color: rgb(192, 191, 191);
  border-radius: 20px;
}
.details{
  height: 300px;
  width: 93%;
  background-color: rgb(203, 201, 201);
  display:flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  border-radius: 20px;
  margin-top: 50px;
}
.other_products{
  display: flex;
  margin-top: 50px;
  height: 300px;
  background-color: inherit;
  justify-content: space-around;
}
.product{
  background-color: rgb(184, 184, 184);
  height: inherit;
  width: 300px;
  border-radius: 30px;
}
.footer{
  position: relative;
  height: 300px;
  background-color: rgb(37, 36, 36);
}
.overlaping{
  position: absolute;
  background-color: rgb(37, 36, 36);
  top: -150px;
  height: 200px;
  width:100%;
  z-index: -1;
}
